<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="badminton_project.module.users.repository.UserMapper">
    
    <resultMap id="userResultMap" type="badminton_project.module.users.entity.User">
        <id property="userId" column="user_id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="enable" column="enable"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="role" column="role"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <select id="findByUsername" resultMap="userResultMap">
        SELECT 
            user_id,
            username,
            password,
            enable,
            is_deleted,
            role,
            created_at,
            updated_at
        FROM tbl_users
        WHERE username = #{username}
        AND is_deleted = false
    </select>

    <select id="countAdminUsers" resultType="int">
        SELECT COUNT(*)
        FROM tbl_users
        WHERE username = 'admin'
    </select>

    <insert id="insertUser" parameterType="badminton_project.module.users.entity.User">
        INSERT INTO tbl_users (username,
                               password,
                               enable,
                               is_deleted,
                               role,
                               created_at,
                               created_id,
                               updated_at,
                               updated_id)
        VALUES (#{username},
                #{password},
                #{enable},
                #{isDeleted},
                #{role},
                NOW(),
                #{username},
                NOW(),
                #{username})
    </insert>

</mapper> 